<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>
    SKT FLY AI 
    <a href="/new-entry" class="btn btn-primary pull-right">
      아자자자자
    </a>
  </h1>
